[submodule "3rdParty/asetsMatlabLevelSets"]
	path = 3rdParty/asetsMatlabLevelSets
	url = https://github.com/ASETS/asetsMatlabLevelSets
[submodule "3rdParty/3D-Gradient-Vector-Flow-for-Matlab"]
	path = 3rdParty/3D-Gradient-Vector-Flow-for-Matlab
	url = https://github.com/smistad/3D-Gradient-Vector-Flow-for-Matlab.git
[submodule "3rdParty/gptoolbox"]
	path = 3rdParty/gptoolbox
	url = https://github.com/alecjacobson/gptoolbox.git
[submodule "3rdParty/shrinkage-fields"]
	path = 3rdParty/shrinkage-fields
	url = https://github.com/uschmidt83/shrinkage-fields.git
[submodule "3rdParty/boundedline-pkg"]
	path = 3rdParty/boundedline-pkg
	url = https://github.com/kakearney/boundedline-pkg.git
[submodule "ITK/ITK-TubularGeodesics"]
	path = ITK/ITK-TubularGeodesics
	url = https://github.com/fethallah/ITK-TubularGeodesics.git
